<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CURA Test Suite" parallel="tests" thread-count="2">
    
    <test name="Valid Appointment Test">
        <classes>
            <class name="tests.BookAppointmentTest"/>
        </classes>
    </test>

    <test name="Negative Login Test">
        <classes>
            <class name="tests.InvalidLoginTest"/>
        </classes>
    </test>

</suite>
